<div class="wp-block-bookingtime-appointment">
   {% block content %}{% endblock content %}
   <style>
   .wp-block-bookingtime-appointment {
      margin: 0 auto !important;
      width: 100% !important;
      max-width: 1400px !important;
   }

   .wp-block-bookingtime-appointment iframe {
      margin: 0 auto !important;
      width: 100% !important;
      max-width: 1400px !important;
      height: 800px;
      border: none;
   }
   </style>
</div>
