<header class="header container-fluid">
   <div class="container-xxl">
      <div class="row">
          <div class="col-8 navigation">
            {% block navigation %}{% include('Navigation.html.twig') %}{% endblock navigation %}
         </div>
         <div class="col-4 information d-flex align-items-center justify-content-end">
            <a target="_blank" href="https://app.bookingtime.com/startpage" class="btn btn-outline-primary rounded-3"><i class="bi bi-box-arrow-up-right"></i> <span class="fw-bold">{{'header.link.external.2'|trans}}</span></a>
         </div>
      </div>
   </div>
</header>
